/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(estadio3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif,
}

/* Encabezado */
header {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido horizontalmente */
    padding: 10px;
    background-image: url(estadio3.jpg); /* azul claro para el header */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 20px; /* Espacio entre el logo y el título */
    text-align: center; /* Asegura que el texto esté centrado */
}

.logo {
    margin-left: -20px;
    height: 150px; /* Ajusta el tamaño del logo según sea necesario */
}

h1 {
    font-size: 4em;
    font-family: 'Arial Black', Arial, sans-serif;
}


/* Menú de navegación */
.header {
    margin:auto;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(estadio3.jpg); /* Azul clarito oscuro para el menú */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav > li {
    margin: 0;
}

.nav li a {
    background-color: #10d468c0; /* Gris claro para los enlaces del menú */
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 20px; /* Bordes redondeados */
    transition: background-color 0.3s ease;
}

.nav li a:hover {
    background-color: #24678ec0;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    border-radius: 10px;
    background-color: #24678ec0;
}

.nav li:hover > ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0;
}

/* Botones del menú en el footer */
.menu-button {
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #c0f0c0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu-button:hover {
    background-color: #a0d0a0;
}

/* Contenido y Footer */
main {
    padding: 100px;
}

.image-container {
    text-align: center;
}

.image {
    max-width: 100%;
    height: auto;
    display: none;
}
h2 {
    font-size: 3em;
    font-family: 'Arial Black', Arial, sans-serif;
}
body{
    background-image: url(estadio3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
p {
    font-size: 2em;
    font-family: Arial Black, sans-serif;
}
.menu2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    
}

.menu-button {
    padding: 10px 20px;
    margin: 40px 50;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-button:last-child {
    margin-right: #1a252f;
}   

.menu1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.menu-button {
    padding: 10px 20px;
    margin: 40px 50;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-button:last-child {
    margin-right: #1a252f;
}   

/* Estrilos CSS para las imagenes*/
.image-container {
    display: flex;
  text-align: center;
}  

.iamge {
    display: none;
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.image.active {
    display: block;
} 

.dire{
    margin: 40px 530px;
}

.crono{
    margin: 30px 330px;
}

.button2{
    background-color: aqua;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    
}




.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(estadio3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding: 10px;
    font-family: 'Arial white', Arial, sans-serif;
}

.redes-sociales {
    display: flex;
}

.redes-sociales img {
    width: 60px;
    height: 60px;
    margin: 0 210px;
    padding: 10px;
    transition: transform 0.3s ease;
}

.redes-sociales img:hover {
    transform: scale(1.2);
}
